
header {
    background: #2c3e50;
    color:#fff;
}

col {
  height: 100px;
  margin: 5px;
  background-color: rgba(255, 0, 21, 0.979);
}

columna2 {
    background: #34495e;
}

columna3 {
    background: #11b60b;
}

aside {
   background: #4ead12;
}